$color-bg: #0a0a0f;
$color-light: #f5f5ff;
$color-primary: #ff3e83;
$color-accent:  #e85bff;
$color-muted:   #b8b8c2;

$font-main: 'Inter', sans-serif;

// font sizes
$font-size-sm: 0.875rem; 
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 2rem;
$font-size-3xl: 3rem;

//font weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$break-sm: 600px;
$break-md: 900px;
$break-lg: 1200px;

// Neon highlights
$neon-blue:   #5ab9ff;
$neon-purple: #b37dff;
$neon-pink:   #ff47c6;
$neon-cyan:   #6ffaff;

// Glass UI
$glass-bg: rgba(255,255,255,0.05);
$glass-border: rgba(255,255,255,0.12);

//spaces
$space-xs: .25rem;
$space-sm: .5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;
$space-2xl: 2.5rem;
$space-3xl: 4rem;

// Radius
$radius-sm: .25rem; //4
$radius-md: .5rem;  //8
$radius-lg: 1rem;  //16
$radius-xl: 2rem; //32

// transition
$transition-fast: 0.15s ease-in-out;
$transition-medium: 0.3s ease-in-out;
$transition-slow: 0.5s ease-in-out;