@import "../styles/variables";
@import "../styles/mixins";


.section { padding: 48px 0; .section-title { font-size:24px; margin-bottom:20px; color:$color-light; } }

.grid { display:flex; gap:20px;
  &-3 { > * { flex:1; } }
  @include respond-sm { flex-direction:column; }
}
.container { @include container; }